<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265046040770-0iokkismujt8eou1vjdcf4eee3b1u74v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265046040770-0iokkismujt8eou1vjdcf4eee3b1u74v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>265046040770-m3akbvpnoe6ivdu4cv36817lu40tfiih.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAlnz3TH9Ru1XCU88iOUWtWgRy-ZFOuk_k</string>
	<key>GCM_SENDER_ID</key>
	<string>265046040770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trade.expoSimpleCommerce</string>
	<key>PROJECT_ID</key>
	<string>simple-commerce-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-commerce-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265046040770:ios:1a9e8c3c892a75c70ddb5b</string>
	<key>DATABASE_URL</key>
	<string>https://simple-commerce-dev-default-rtdb.firebaseio.com</string>
</dict>
</plist>